* {
  scroll-behavior: smooth;
}

.btn-primary {
  background-color: #7cb518 !important; /* Custom primary color */
  border-color: #7cb518 !important; /* Custom border color */
}

.btn-primary:hover {
  color: #f3de2c !important;
}

.custom-navbar {
  background-color: #5c8001; /* Custom background color */
}

.custom-navbar .navbar-brand {
  color: white; /* Set the text color */
}

.custom-navbar .navbar-brand:hover {    
  color: #f3de2c; /* Text color on hover */
}